@{
    ViewData["Title"] = "Employee Dashboard";
}
<h2>Employee Dashboard</h2>
<a href="/Employee/RegisterFarmer" class="btn btn-primary">Register Farmer</a>
<a href="/Employee/FilterProducts" class="btn btn-info">Filter Products</a>

